h1 {
	text-align:center;
	color:white;
}
nav {
	text-align:center;
}
nav ul {
	width:750px;
	margin:0 auto;
	list-style:none;
	display:inline-block;
	text-align: center;
}
nav li {
	float:none;
	display:inline-block;
 	height: 40 px;
  	background: #000000;
	list-style-type: none;
	width: 150px;
}
nav li a {
	text-decoration: none;
	color: white;
	line-height: 40px;
	display: inline-block;
	text-align:center;
	font-family: "Courier New", Courier, monospace; 
	width:150px;
}
nav li a:hover {
	background-color:#555251;
}
headerBreak {
	width: 100%;
	height: o%;
}
