h1 {
	color:white
}
nav {
	width:750px;
	margin:0 auto;
	list-style:none;
}
nav li {
	float:left;
}
nav a {
	display:block;
	text-align:center;
	width:150px;
	text-decoration:none; 
}
nav ul li {
 	height: 40 px;
  	background: #000000;
}
nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
}
nav ul li a {
	text-decoration: none;
	color: white;
	line-height: 40px;
	display: block;
	text-align:center;
	font-family: "Courier New", Courier, monospace; 
}
nav ul li a:hover {
	background-color:#555251;
}
headerBreak {
	width: 100%;
	height: o%;
}
